<html>
<head>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Gerenciamento de Tarefas</h2>
        </div>
        <p>Mini-Curso ASP .NET Core 2</p>
    </div>
</body>
</html>